<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-10">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-xs-12 col-sm-1">Número:</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" formControlName="Numero">
          </div>
          <div class="col-sm-6">            
              <button type="submit" [disabled]="!form.valid">Submeter</button>            
          </div>
          <div class="col-sm-6">            
              {{retornoEFeliz}}            
          </div>
          <div class="col-sm-6">            
              {{retornoESortudo}}            
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
